bottle-redis==0.2.3
certifi==2019.11.28
chardet==3.0.4
gunicorn==20.0.4
idna==2.8
neo4j-driver==1.7.2
neobolt==1.7.15
neomodel==3.3.2
neotime==1.7.4
numpy==1.17.4
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
redis==3.3.11
requests==2.22.0
six==1.13.0
tmdbsimple==2.2.0
tqdm==4.40.0
urllib3==1.25.8
python-dotenv
NotAOrm
